In [1]:
import pandas as pd
import numpy as np

In [5]:
lists = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/list_export.csv')
items = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/item_export.csv')
categories = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/category_export.csv')
store_sections = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/store_section_export.csv')
foodgroups = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/foodgroup_export.csv')
recipes = pd.read_csv('/Users/vincentsalamand/Documents/Clubmama/db_exports/recipe_export.csv')

In [33]:
store_sections.head()

,id,name,created_at,updated_at,position
0,1,Légumes,2020-05-07 17:12:59.302964,2020-06-09 07:39:42.244603,10
1,2,Fruits,2020-05-07 17:12:59.308947,2020-06-09 07:39:57.097411,20
2,34,Pains & Pâtisseries,2020-06-09 07:40:20.451703,2020-06-09 07:40:20.451703,30
3,3,Frais,2020-05-07 17:12:59.313991,2020-06-09 07:40:37.828572,40
4,4,Surgelés,2020-05-07 17:12:59.31871,2020-06-09 07:40:50.544438,50

In [39]:
data = pd.DataFrame()
data = items.merge(lists[['id', 'user_id']], left_on=['list_id'], right_on=['id'])
data = data.merge(categories[['id', 'name', 'rating', 'ancestry']], left_on=['category_id'], right_on=['id'])
data = data.merge(store_sections[['id', 'name']], left_on=['store_section_id'], right_on=['id'])

In [40]:
data.columns

Index(['id_x', 'food_id', 'recipe_id', 'unit_id', 'quantity', 'created_at',
       'updated_at', 'name_x', 'list_item_id', 'is_validated', 'is_non_food',
       'store_section_id', 'list_id', 'is_deleted', 'is_completed',
       'category_id', 'id_y', 'user_id', 'id_x', 'name_y', 'rating',
       'ancestry', 'id_y', 'name'],
      dtype='object')

In [41]:
data.iloc[-1]

id_x                                     75154
food_id                                    889
recipe_id                                  NaN
unit_id                                     26
quantity                                   NaN
created_at          2020-06-08 11:58:47.816267
updated_at          2020-07-10 09:33:33.580411
name_x                  Petits pots de compote
list_item_id                              7477
is_validated                                 t
is_non_food                                  f
store_section_id                            35
list_id                                    687
is_deleted                                   f
is_completed                                 f
category_id                                523
id_y                                       687
user_id                                    625
id_x                                       523
name_y                                 Compote
rating                                       1
ancestry                              2/86/506
id_y                                        35
name                                      Bébé
Name: 9, dtype: object